
*{
  margin: 0;
  padding: 0;
font-family: sans-serif;
box-sizing: border-box;
}

body{
  width: 100%;
  background-color: "red";
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container{
display:  flex;
align-items: center;
flex-direction: column;
justify-content: center;
width: 500px;
box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.4);
}
h1{
  margin: 30px;
  text-align: center;
  text-transform: capitalize;
  font-size: 200;
  font-weight: normal;
}
.social-paltform{
  display: flex;
  margin: 20px;
  gap:  30px;
}
img{
  width: 20px;
}
.facebook{
  color: white;
  cursor: pointer;
  border: 0px;
border-radius:6px;
margin: 2px;
padding: 8px 15px;
background: #3d5998;;
}

.google{
  color: black;
  cursor: pointer;
border-radius:8px;
border: 1px;
padding: 5px 15px;
background: white;
width: 100px;
cursor:  pointer;
box-shadow:  0px 20px 30px rgba(0, 0, 0, 0.4);
text-transform: capitalize;
}
.form{
  margin-top:  20px;
  display: flex;
  flex-direction: column;
}
lable {
  font-size: 12px;
  font-weight: 200;
  text-transform: capitalize;
padding: 15 0px;
}
input{
  width: 100%;  
  border: 1px;
  background:  #f6f6f6;
  padding: 5px 20px;

}
.submit{
  color: white;
  background: #333333;
  margin: 30 0px;
  padding: 10px;
  cursor: pointer;


}
p{
  text-transform: capitalize;
  color : red;
  margin: 10px 0px;
}








/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "averta cy w10";
}
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.4);
}

h1 {
  margin: 30px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 450;
  font-size: 3vw;
}

.social-platform {
  display: flex;
  gap: 30px;
  margin: 20px;
}

img {
  width: 20px;
}

.facebook {
  color: white;
  background-color: #3d5998;
  padding: 15px 20px;
  border: 0;
  border-radius: 5px;
  font-size: 1.5vw;
  cursor: pointer;
}

.google {
  color: black;
  background-color: white;
  padding: 15px 20px;
  border: 0;
  border-radius: 5px;
  font-size: 1.5vw;
  width: 200px;
  cursor: pointer;
  text-transform: capitalize;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 20px;
  text-transform: capitalize;
  padding: 15px 0px;
  font-size: 23px;
  font-weight: 450;
}

input {
  background-color: #f6f6f6;
  width: 100%;
  border: 0;
  padding: 10px 130px;
}

.submit {
  color: white;
  background-color: #333333;
  padding: 10px;
  font-size: 20px;
  margin: 30px 0px;
  cursor: pointer;
}

p {
  color: red;
  text-transform: capitalize;
  margin: 10px 0px;
} */
